
@media screen and (max-width: 767.98px) {
.mobile-menu__button {
    position: relative;
    
    z-index: 150;
    display: inline-flex;
    margin-right: 0;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
}

.mobile-menu {
    display: none;
}

.mobile-menu_icon-menu {
    display: block;
}

.mobile-menu_icon-close {
    display: none;
}

// .agreement__checkbox {
//     display: none; 
    
//   &:checked + .agreement__label .agreement__icon--unchecked {
//       display: none;
//   }
        
//  &:checked + .agreement__label .agreement__icon--checked {
//     //       display: unset;
//     //     }

.is-open {
    .mobile-menu_icon-close {
        display: block;
    }

    .mobile-menu_icon-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
    
        width: 100%;
        max-width: 480px;
        height: 100vh;
    
        padding: 48px 40px;
    
        background-color: var(--primary-white-color);
    }
}


@media screen and (max-width: 767.98px) {
    .page-nav__wrap,
    .contacts__wrap {
        display: none;
    }
}



// .mobile-menu__overlay {
//     width: 100%;
//     height: 100vh;
//     background-color: var(--primary-white-color);
// }

.page-nav__item--mobile {
    margin-bottom: 32px;
}

.page-nav__link--mobile {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--title-text-color);
}

.contacts__item--tel {
    margin-bottom: 32px;
}

.contacts__link--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--accent-color);
}

.contacts__item--mail {
    margin-bottom: 64px;
}

.contacts__link--mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;

    color: var(--primary-text-color);
}

.social-network {
    display: flex;
    // margin-bottom: 0;
}

.social-network__link {
    margin-right: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;    
    letter-spacing: 0.02em;
    text-decoration: none;
    
    color: var(--accent-color);
}

}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }

    .mobile-menu__button {
        display: none;
    }
}