.social-icons {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .social-icons__item {
    margin-left: 10px;
  
  &:first-child {
    margin-left: 0;
  }
}
  
  .social-icons__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  
    transition: background-color 250ms var(--animation-cubic);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
  } 
  
  &:hover .social-icons__image,
  &:focus .social-icons__image {
  fill: var(--primary-white-color);
  } 
  }
  
  .social-icons__image {
    width: 20px;
    height: 20px;
    fill: var(--icons-color);
  
    transition: fill 250ms var(--animation-cubic);
  }

  .social-icons__link--bgcolor {
    background-color: rgba(255, 255, 255, 0.1);;
  }
  
  .social-icons__image--color {
    fill: var(--primary-white-color);
  }