:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --background-second-color: #f5f4fa;
    --background-dark-color: #2f303a;
  
    --icons-color: #AFB1B8;
    --cards-shadow-25: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
    --grid__item: 2;

    --card-set-gap: 30px;
    --section-gap: 94px;
  
    --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
  }