.card {
  transition: border 250ms var(--animation-cubic),
  box-sizing 250ms var(--animation-cubic),
  box-shadow 250ms var(--animation-cubic);
  
  &:hover {
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
      0px 4px 4px rgba(0, 0, 0, 0.06), 
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
  
.card__image {
  position: relative;
  overflow: hidden;
}
  
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--animation-cubic) 250ms;
}
  
.overlay__content {
  padding: 60px 24px;
  
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  
  color: var(--primary-white-color);

  @media screen and (max-width: 400px) {
      padding: 40px 24px;
      font-size: 16px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    padding: 49px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 63px 24px;
  }
}

.card__image:hover .overlay {
  transform: translateY(0);
}
  
.card__content {
  padding: 20px 24px;
}
  
.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  
  color: var(--title-text-color);
}
  
.card__text {
  margin-top: 4px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  
  color: var(--primary-text-color);
}
  
