    .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--background-dark-color);
  }
  
  .footer-container {
    display: block;
    align-items: center;
    text-align: center;
  }

  .footer-nav {
    margin-top: 20px;
    // white-space: nowrap;
  
    color: var(--primary-white-color);
  }
  
  .footer-nav,
  .footer-nav__link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    text-decoration: none;
    letter-spacing: 0.03em;
  }

  .footer-nav__item {
    margin-top: 8px;
    
    @media screen and (min-width:1200px) {
      margin-top: 9px;
    }
  }
  
  .footer-nav__link {  
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms var(--animation-cubic);
  
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.feedback {
  @media screen and (max-width: 767.98px) {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

  
  // .feedback {
  //   margin-left: 85px;
  // }
  
  
  
  